<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neocogent.dicecheck"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <application
        android:name="com.neocogent.dicecheck.DiceApp"
        android:allowBackup="true"
        android:icon="@drawable/dicecheck"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.FullScreen" >
        <activity
            android:name="com.neocogent.dicecheck.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.neocogent.dicecheck.SettingsActivity" />
     	<activity
            android:name="com.neocogent.dicecheck.HTMLActivity"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" />
     </application>     
</manifest>
